<a href="https://colab.research.google.com/github/AtelliAndressa/Python1/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2 + 4

6

In [ ]:
maria = input("Digite seu nome: ")

Digite seu nome: Maria Laura

In [ ]:
print(maria)

Maria Laura

In [ ]:
nome = input("Digite o nome da sua serie que mais gosta: ")

Digite o nome da sua serie que mais gosta: Harry Potter

In [ ]:
print(nome)

Harry Potter

In [ ]:
idade = int(input('Digite sua idade '))

Digite sua idade 37

In [ ]:
nasatual = 2020

In [ ]:
nascimento = nasatual - idade

In [ ]:
print(nascimento)

1983